[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
aiohttp = "*"
ujson = "*"
python-dotenv = "*"

[dev-packages]
requests = "*"
v = {version = "*", editable = true}

[requires]
python_version = "3.7"
